<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <ul class="sidebar-menu">

        <li <%if(type =="1"){%>
            class="active"
        <%}%> ><a href="#list"><i class="iconfont icon-suoyoudingdan"></i> <span>报表查询</span></a></li>
        <li <%if(type =="2"){%>
        class="active"
        <%}%> ><a href="#chart"><i class="iconfont icon-buchongiconsvg14"></i> <span>图表分析</span></a></li>

        <li class="active" style="position: absolute; bottom: 0px; width: 100%;"><a href="./login.html"><i class="iconfont icon-tuichu"></i> <span>退出登录</span></a></li>
    </ul>
</section>
<!-- /.sidebar -->