<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        图标分析
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 个人中心 </a></li>
        <li class="active" bind-text="data">图表分析</li>
    </ol>
</section>

<section class="content">
    <div class="list"></div>

    <div class="chart"></div>
    <div class="row">
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <div id="slip" class="box box-info">
            </div>

            <div id="payment" class="box box-success">

            </div>
        </div>


        <!-- /.col (RIGHT) -->
        <div class="col-md-6">
            <div id="slip1" class="box box-info">
            </div>

            <div id="payment1" class="box box-success">
            </div>

        </div>
    </div>
    <!-- /.row -->

</section>